In [1]:
# pandasをインポートする
import pandas as pd

In [2]:
# DataFrameクラスのオブジェクトを作成する
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)

In [3]:
# DataFrameクラスのオブジェクトを表示する
df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

In [4]:
# DataFrameクラスの列を表示する
df["Age"]

0    22
1    35
2    58
Name: Age, dtype: int64

In [5]:
# Age列の最大値を表示する
df["Age"].max()

np.int64(58)

In [6]:
# Age列の平均値を表示する
df["Age"].mean()

np.float64(38.333333333333336)

In [7]:
# Age列の中央値を表示する
df["Age"].median()

np.float64(35.0)

In [8]:
# 数値データの要約を表示する
df.describe()

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000